<h1 id="heading">PRODUCT DETAILS</h1>
<div class="product-info">
    
    <div >
      <a href="default.asp">
        <img src="https://tse4.mm.bing.net/th?id=OIP.KHFPCjgZeQSpT-Rsq0KWVQHaGk&pid=Api&P=0&w=174&h=156" >
            
        </a>
        
    </div>
    <div id="product-details">
      <label id="name-label"for="">PRODUCT NAME :</label><b>{{product.productName}}</b><br>
      <br>
      <br>
      <label id="details-label"for="">PRODUCT DETAILS :</label><b>{{product.productDetails}}</b><br>
      <br>
      <br>
      <label id="details-label"for="">PRODUCT PRICE :</label><b> {{product.productPrice}} Rs.</b><br>
      <br>
      <br>
      <label id="emi"for="">EMI PERIOD :</label>
      <p id="tenure-period">{{product.maxTenure}}</p>
      <br>
      <h3>EMI STARTING FROM 6000pm</h3>
      <button id="btn"> PAY NOW</button>
      <br>
      <br>
      <a id="terms" href="">Terms and Conditions</a>
    </div>

    <!-- <h1>{{product.productId}}</h1>
    <h1>{{product.productImage}}</h1>
    <h1>{{product.productName}}</h1>
    <h1>{{product.productDetails}}</h1>
    <h1>{{product.productPrice}}</h1>
    <h1>{{product.maxTenure}}</h1> -->
    
</div>