#product-image{
    width: 200px;
    height:200px;
    border: 1px solid black;
    display:inline-block;
    margin-left: 40px;
    margin-top: 30px;
}
#product-details{
    float: right;
    margin-top: 30px;
}
#heading{
   text-align: center;
   text-decoration: underline;
}
#name-label{
    text-decoration: solid;
    font-size: 20px;
}
#details-label{
    text-decoration: solid;
    font-size: 20px;
}
#emi{
    text-decoration: solid;
    font-size: 20px;
    color: red;
}
#tenure-period{
    width: 100px;
    height:40px;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bolder;
}
#btn{
    font-size: 20px;
    font-weight: bolder;
}
#terms{
    font-size: 20px;
    font-weight: bolder;
}
