<title>Admin Page</title>

<div class="header">
  <h1>User Details Database</h1>
</div>
<body>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email Id</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Password</th>
            <th>Address</th>
            <th>Card Type</th>
            <th>Account Number</th>
            <th>IFSC Code</th>
            <th>Status</th>
            <th>Activate</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor = "let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.dateOfBirth}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNo}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.address}}</td>
            <td>{{user.cardType}}</td>
            <td>{{user.accountNo}}</td>
            <td>{{user.ifscCode}}</td>
            <td>{{user.userStatus}}</td>
            <td><button class="button" style="vertical-align:middle"><span> Activate </span></button></td>  
            <td><button class="button" style="vertical-align:middle"><span> Delete </span></button></td>

        </tr>
        
        
    </table>
    
</body>



