<title>Admin Page</title>
<div class="header">
  <h1>User Details Database</h1>
</div>
<body>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email Id</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Password</th>
            <th>Address</th>
            <th>Card Type</th>
            <th>Account Number</th>
            <th>IFSC Code</th>
            <th>Status</th>
            <th>Activate</th>
            <th>Delete</th>
        </tr>
        
    </table>
    
</body>



