<title>Admin Page</title>

<div class="header">
  <h1>User Details Database</h1>
</div>
<body>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email Id</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Address</th>
            <th>Card Type</th>
            <th>Bank Name</th>
            <th>Account Number</th>
            <th>IFSC Code</th>
            <th>Status</th>
            <th>Activate</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor = "let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{user.dateOfBirth[2]}}-{{user.dateOfBirth[1]}}-{{user.dateOfBirth[0]}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNo}}</td>
            <td>{{user.username}}</td>
            <td>{{user.address}}</td>
            <td>{{user.cardType}}</td>
            <td>{{user.bankName}}</td>
            <td>{{user.accountNo}}</td>
            <td>{{user.ifscCode}}</td>
            <td>{{user.userStatus}}</td>
            <td><button (click) = "activateUser(user)" class="button" style="vertical-align:middle"><span> Activate </span></button></td>  
            <td><button (click) = "deleteUser(user)" class="button" style="vertical-align:middle"><span> Delete </span></button></td>

        </tr>
        
        
    </table>

    <h3>{{message}}</h3>

    <div class="header">
        <h1>Product Details Database</h1>
      </div>

      
    <table [formGroup]="addForm">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Product Details</th>
            <th>Product Price</th>
            <th>Vendor</th>
            <th>Quantity</th>
            <th>MAX EMI Tenure</th>
            <th>Edit</th>
            <!-- <th>Delete</th> -->
        </tr>
        <tr *ngFor = "let product of productlist">
            <td> {{product.productId}}</td>
            <td #topicName contenteditable (input)="product.productName=topicName.innerText">{{product.productName}}</td>
            <td #topicDetails contenteditable (input)="product.productDetails=topicDetails.innerText">{{product.productDetails}}</td>
            <td #topicPrice contenteditable (input)="product.productPrice=topicPrice.innerText">{{product.productPrice}}</td>
            <td #topicVendor contenteditable (input)="product.vendor=topicVendor.innerText">{{product.vendor}}</td>
            <td #topicQuantity contenteditable (input)="product.quantity=topicQuantity.innerText">{{product.quantity}}</td>
            <td #topicTenure contenteditable (input)="product.maxTenure=topicTenure.innerText">{{product.maxTenure}}</td>
            <td><button (click) = "editProduct(product)" class="button" style="vertical-align:middle"><span> Edit </span></button></td>  
            <!-- <td><button (click) = "deleteProduct(product)" class="button" style="vertical-align:middle"><span> Delete </span></button></td> -->

        </tr>    

    </table>
    <h3>{{message1}}</h3>
    <form #product="ngForm" (ngSubmit)= "saveProduct(product)">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Product Details</th>
                <th>Product Price</th>
                <th>Vendor</th>
                <th>Quantity</th>
                <th>MAX EMI Tenure</th>
                <th>Save</th>
                <th>Remove</th>
            </tr>
            <tr *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                <td>ID</td>
                
                    <td><input name="productName" [(ngModel)]="product.productName" required #productName="ngModel"></td>
                    <td><input name="productDetails" [(ngModel)]="product.productDetails" required #productDetails="ngModel"></td>
                    <td><input name="productPrice" [(ngModel)]="product.productPrice" required #productPrice="ngModel"></td>
                    <td><input name="vendor" [(ngModel)]="product.vendor" required #vendor="ngModel"></td>
                    <td><input name="quantity" [(ngModel)]="product.quantity" required #quantity="ngModel"></td>
                    <td><input name="maxTenure" [(ngModel)]="product.maxTenure" required #maxTenure="ngModel"></td>
                    <td><button type = "submit" class="button" style="vertical-align:middle"><span> ADD </span></button></td>  
                    <td><button (click)="onRemoveRow(index)" class="button" style="vertical-align:middle"><span>Remove</span></button></td>
                
            </tr>
        </table>
    </form>
    <button (click)="onAddRow()" class="button" style="vertical-align:middle"><span>Add Product</span></button>


    <h3>{{message2}}</h3>
    


    
    
    
    


    
    
    
</body>



