
<!-- <app-user-details></app-user-details> -->
<!-- <app-dashboard></app-dashboard> -->
<app-registration></app-registration>
<nav>
    <a routerLink="/login" routerLinkActive="active">Already a user?</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-products></app-products>

<div class="navbar">
    <a [routerLink]="'/register'">Register</a> | <a [routerLink]="'/login'">Login</a>
    </div>
    
    <div class="work">
     <router-outlet></router-outlet>
    </div> -->
<!-- 
<app-products></app-products>
<router-outlet></router-outlet> -->

<app-dashboard></app-dashboard>
