<p>{{ message }}</p>

<div id = "n1">
<form #adminlogin="ngForm" (ngSubmit)="adminLoginCheck()">
    
       <h3>Admin Login</h3>
    <label> <h3>Enter Username :</h3></label>
    <input type = "text" name="t1" [(ngModel)]=adminlogin.username required #t1="ngModel"/>
    <span *ngIf="t1.touched && !t1.valid">This is a required field.</span><br><br> 
   <label> <h3>Enter Password :</h3></label>
    <input type ="password" name="t4" [(ngModel)]=adminlogin.password required #t4="ngModel" />
    <span *ngIf="t4.touched && !t4.valid">This is a required field.</span><br><br> 
   <button type ="submit" id="admin-enter" >Login</button><br><br>
    
</form>
</div>

