/*#n1{
    position:absolute;
    margin:auto;
    width:300px;
    height:500px;
    
}

#n2:hover{
    background-color: #45a049;
}

#n2{
    background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
*/
