<title>Dashboard</title>

<!-- <nav>
    <a routerLink="/product" routerLinkActive="active">show products</a>
</nav> -->

<div>
<a [routerLink]="'/product'">Show Products</a>
</div>
<div class="header">
  <h1>User Dashboard</h1>
</div>

<body><div class ="card"></div>
    <table>
        <tr>
            <th>
                CARD NUMBER :
            </th>
            <td>
                {{card.cardNo}}
            </td>
        </tr>
        <tr>
            <th>
                NAME :
            </th>
            <td>
                {{card.registration.name}}
            </td>
        </tr>
        <tr>
            <th>
                VALID TILL : MM/YYYY
            </th>
            <td>
                {{card.validityOfCard[1]}}/{{card.validityOfCard[0]}}
            </td>
        </tr>

        <tr>
            <th>
                CARD TYPE : GOLD/PLATINUM
            </th>
            <td>
                {{card.cardType}}
            </td>
        </tr>
        <tr >
            <td class="activate" colspan="2"> ACTIVATED </td>
        </tr>

    </table>


    <div>
        <h3>Products Purchased</h3>
    </div>

    
    <div *ngFor = "let purchase of purchases">

        <h3>Product Name</h3>
        Id : {{purchase.id}} <br>

        Product : {{purchase.product.productName}} <br>
        Purchase Date : {{purchase.dateOfPurchase}} <br> 
        Product Price : {{purchase.product.productPrice}} <br> <br> 
        <div *ngIf ="!purchase.remainingAmount" style="color: green; font-size: larger;" >
            Fully Paid...
        </div>
        <div *ngIf ="purchase.remainingAmount" style="color: red; font-size: larger;">
            <div style="color: green;"> Amount paid : {{purchase.product.productPrice - purchase.remainingAmount}} &nbsp; &nbsp;
            Installments paid : {{purchase.tenurePeriodOpted - purchase.installmentsRemaining}} <br></div>
            Amount Remaining to be paid : {{purchase.remainingAmount}} &nbsp; &nbsp;
            Installments Remaining : {{purchase.installmentsRemaining}}
        </div>
        <br> <br>

        

        <app-installment-list [purchaseId]="purchase.id" > </app-installment-list>

    </div>
    
    <h3>Remaining Balance : {{card.balance}}</h3>

   <!-- <div class="products">
    <a [routerLink]="'/product'">Show Products</a>

   </div> -->
   <!-- <nav>
    <a routerLink="/product" routerLinkActive="active">Already a user?</a>
</nav> -->


</body>