<title>Dashboard</title>

<div class="header">
  <h1>User Dashboard</h1>
</div>

<body><div class ="card"></div>
    <table>
        <tr>
            <th>
                CARD NUMBER :
            </th>
            <td>
                {{card.cardNo}}
            </td>
        </tr>
        <tr>
            <th>
                NAME :
            </th>
            <td>
                {{card.registration.name}}
            </td>
        </tr>
        <tr>
            <th>
                VALID TILL : MM/YYYY
            </th>
            <td>
                {{card.validityOfCard[1]}}/{{card.validityOfCard[0]}}
            </td>
        </tr>

        <tr>
            <th>
                CARD TYPE : GOLD/PLATINUM
            </th>
            <td>
                {{card.cardType}}
            </td>
        </tr>
        <tr >
            <td class="activate" colspan="2"> ACTIVATED </td>
        </tr>

    </table>


    <div>
        <h3>Products Purchased</h3>
    </div>

    <div *ngFor = "let purchase of purchases">
            
        Product : {{purchase.product.productName}} <br>
        Purchase Date : {{purchase.dateOfPurchase}} <br>
        <div *ngIf ="!purchase.remainingAmount" >
            Fully Paid...
        </div>
        <div *ngIf ="purchase.remainingAmount" >
            Amount Remaining to be paid : {{purchase.remainingAmount}} <br>
            Installments Remaining : {{purchase.installmentsRemaining}}
        </div>
        <br> <br>

    </div>
    
    <h3>Remaining Balance : {{card.balance}}</h3>
</body>